html, body{
  height: 100%;
  margin: 0;
}
html{
  background-color: #C5D7D8;
}

.w3_newsreader{
    font-family: Newsreader;
}

.big_logo{
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  transform: translate(0,50);
}
.small_logo{
  width: 15%;
  margin: 2.5%;
  display: inline-block;
  margin-bottom: 0px;
}

.button{
  width: fit-content;
  height: fit-content;
  text-align: center;
  background-color: #edeba0;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: large;
  box-shadow: 3px 3px 3px grey;
  transform: translate(-3px,-3px);
}
.button:hover{
  background-color: #aac48d;
  box-shadow: none;
  transform: none;
}

.hide_link{
  color: white;
  text-decoration: none;
}
.centre{
  display: block;
  margin: auto;
  text-align: center;
}

.settings_container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #CBEDAB;
  padding: 10px;
}
.settings_container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 40px;
  font-size: 30px;
  text-align: center;
}

.setting_button:hover{
  background-color: #aac48d;
  box-shadow: 0 0 10px 5px grey;
  transform: scale(105%);
}

div.two_column_grid div:hover {
  background-color: #777;
}
.left-column{
  background-color: #C5D7D8;
  width: 50%;
  height: 100%;
  display: inline-block;
  border-right: 5px solid black;
}
.right-column{
  width:50%;
  height: 100%;
  float: right;
}
.scorechart{
  width: 60%;
  margin: auto;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 50px;
}
.scorechart div{
  border: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
}

.error_message{
  color: red;
  text-decoration: wavy;
}

iframe{
  width: 50%;
  margin-left: 25%;
  height: 300px;
  border: 3px solid black;
  margin-top: 30px;
}
.background{
  grid-template-columns: 1fr;
  margin: 0px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.background div{
  height: 50px;
  width: 100%;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.question_box{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  width:fit-content;
  margin: auto;
  background-color: #d5d5ae;
  outline: 5px solid #aac48d;
  margin-top: 5%;
  display: block;
  box-shadow: 15px 15px 10px grey;
  }
.align_text{
  text-align: left;
  margin-left: 5%;
  }
.setting_box{
  padding: 10px;
  width: fit-content;
  margin: auto;
  background-color: #aac48d;
  border-radius: 5px;
  }
h2{
  text-align: center;
}
.continue{
  width: fit-content;
  margin-left: 40%;
  background-color: #aac48d;
}
.continue :hover{
  background-color: rgb(51, 88, 51);
}

input[type="radio"]{
  display: none;
}
input[type="radio"]:checked{
  display: block;
}

input[type="submit"]{
  width: fit-content;
  margin-left: 25%;
  background-color: #aac48d;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: large;
  box-shadow: 3px 3px 3px grey;
  transform: translate(-3px,-3px);
}
input[type="submit"]:hover{
  background-color: rgb(51, 88, 51);
  box-shadow: none;
  transform: none;
}