<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Newsreader">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Admin Controls</title>
</head>
<body>
     <div class="admin_function">
        <h1>Add new admin</h1>
        <form action="{{ url_for('new_user') }}" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Create User" style="margin-top: 10px;">
        </form>
    </div>
    <div class="admin_function">
        <h1>Add new admin</h1>
        <form action="{{ url_for('new_user') }}" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Create User">
        </form>
    </div>
</body>
</html>