<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap" rel="stylesheet">
    <title>Desert Ducks</title>

</head>
<body style="height: 100%;">
    <!--Left side of the page-->
    <div class="left-column">
        <div style="width: 50%; margin: 5%;"> <!--Logo in the top left throughout all pages-->
            <img src="/static/images/desert_ducks.png" alt="Desert ducks logo" style="width: inherit;">
        </div>
            {% block left %}{% endblock %}
    </div>
    <!--Right side of the page-->
    <div class="right-column">
        {% block right %}{% endblock %}
    </div>
</body>
</html>