<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Desert Ducks</title>
</head>
<body class="notebook_background" style="height: 100%;">
    <!--Left side of the page-->
    <div class="left-column">
        <div style="width: 50%; margin: 5%;">
            <img src="/static/images/desert_ducks.png" alt="desert_ducks" style="width: inherit;">
        </div>
        {% block left %}{% endblock %}
    </div>
    <!--Right side of the page-->
    <div class="right-column">
        {% block right %}{% endblock %}
    </div>
</body>
</html>