<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Newsreader">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Create New</title>
</head>
<body>
    <form action="{{ url_for('create_setting') }}" method="POST">
        <div>
            <label for="setting_name">Name: </label>
            <input type="text" id="setting_name" name="setting_name" required maxlength="15"><br> <!--Input the admin's username - input required-->
        </div>
        <div>
            <label for="setting_desc">Description: </label>
            <textarea id="setting_desc" name="setting_desc" required maxlength="100" rows="3" cols="50"></textarea><br><!--Input the new admin's password - input required-->
        </div>
        <input type="submit" value="Add Setting" class="submit"> <!--Submit button - runs new_user flask route and reloads page-->
    </form>
    <h1>{{error_message}}</h1>
    <form action="{{ url_for('create_question') }}" method="POST">
        <div>
            <label for="question_text">Name: </label>
            <input type="text" id="question_text" name="question_text" required maxlength="50"><br> <!--Input the admin's username - input required-->
        </div>
        <input type="submit" value="Add Question" class="submit"> <!--Submit button - runs new_user flask route and reloads page-->
    </form>
    <form>
        <label for="setting">View Questions for setting: </label>
        <select id="setting" name="setting" onchange="refreshQuestions()"> <!--Dropdown menu to select setting-->
            <option hidden disabled selected value></option>
            {% for name in data_dict %}
                <option value="{{name}}">{{ name.title() }}</option>
            {% endfor %}
        </select>
        <label for="question">Questions: </label>
        <div id="question"> <!--List of questions for the setting-->
            <div>Select a Setting</div> <!--Only appears once setting is selected-->
        </div>
    </form>

    <script>
        const data = {{ data_dict|safe }};

        function refreshQuestions() { //Runs when selected setting is changed. Displays questions corresponding to that setting
            const settingSelect = document.getElementById('setting');
            const questionDisplay = document.getElementById('question');
            const selectedValue = settingSelect.value;
            const questionList = data[selectedValue];
            console.log(questionList)

            questionDisplay.innerHTML = ''; //Resets existing dropdown values

            questionList.forEach((value) => {
                let option = document.createElement('div'); //Creates a new element
                option.value = value;
                option.text = value;
                questionDisplay.appendChild(option);
            });
        }
    </script>
</body>
</html>