{% extends "base.html" %}
{% block left %}
<h2>{{question}}</h2> 
<form><!-- form with an option for each answer. Only one can be selected -->
    {% for option in result %}
        <input type="radio" id="{{option[2]}}" name="choose_ans" onclick="showContinue()"> <!--Once you select an option, the continue button appears-->
        <label for="{{option[2]}}">{{option[2]}}</label><br>
    {% endfor %}
</form>
<a href="/questions/{{id}}/{{nextid}}" class="hide_link" style="display: inline-block; visibility: hidden;" id="continue">
    <div class="button">Continue</div>
</a>
<script>
    function showContinue(){
        document.getElementById("continue").style.visibility = "visible";
    }

</script>
{% endblock %}