<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Setting: {{result[0]}}</title>
</head>
<body>
    <div class="centre">You have chosen: {{result[0]}}</div>
    <div class="centre">{{result[1]}}</div>
    <div class="centre">
        <a href="{{  url_for('setting_select')  }}" class="hide_link" style="display: inline-block;">
            <div class="button">Back</div>
        </a>
        <a href="{{  url_for('questions')  }}" class="hide_link" style="display: inline-block;">
            <div class="button">Continue</div>
        </a>
    </div>
</body>
</html>