<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Newsreader">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Write Answers</title>
</head>
<body>
    <h1>{{error_message}}</h1>
    <h3>Linking '{{setting}}' and '{{question}}'</h3>
    <form method="POST" action="{{ url_for('add_answer_options') }}">
        <div style="display: none;">
            <input type="hidden" id="setting" value="{{setting}}">
            <input type="hidden" id="question" value="{{question}}">
        </div>
        <div id="answer_options">
            <div>
                <label for="answer_option">Answer Option: </label>
                <input type="text" id="option_1" name="answer_option" required maxlength="20"><br> <!--Input the admin's username - input required-->
                <label for="answer_points">Answer Points: </label>
                <input type="number" id="points_1" name="answer_points" required max="30" min="-30"><br> <!--Input the admin's username - input required-->
                <label for="answer_explain">Answer Explaination: </label>
                <input type="text" id="explain_1" name="answer_explain" required maxlength="50"><br> <!--Input the admin's username - input required-->
            </div>
        </div>
        <input type="submit" value="Complete" class="submit"> <!--Submit button - runs new_user flask route and reloads page-->
    </form>
    <button onclick="addOption()" style="background-color: aquamarine;">
        Add New Option
    </button>
</body>
<script>
    function addOption() { //Runs when selected setting is changed. Displays questions corresponding to that setting
        const optionList = document.getElementById('answer_options');
        let numberOptions = optionList.childElementCount + 1
        
        const newSection = document.createElement('div')
        newSection.innerHTML = '<label for="answer_option">Answer Option: </label><input type="text" id="option_' + numberOptions +'" name="answer_option" required maxlength="20"><br><label for="answer_points">Answer Points: </label><input type="number" id="points_' + numberOptions +'" name="answer_points" required max="30" min="-30"><br><label for="answer_explain">Answer Explaination: </label><input type="text" id="explain_' + numberOptions +'" name="answer_explain" required maxlength="50"><br>'
        optionList.appendChild(newSection)
    };

</script>
</html>